<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <section>
    <h2>Sobre Nós</h2>
    <p>Rytthur é uma empresa dedicada à inovação em tecnologia. Fundada em 20XX, nossa missão é criar soluções tecnológicas avançadas para impulsionar o crescimento e o sucesso de nossos clientes.</p>
  </section>

  <section>
    <h2>Nossos Serviços</h2>
    <p>Oferecemos uma ampla gama de serviços, incluindo desenvolvimento de software, consultoria em TI, integração de sistemas e muito mais. Nosso foco é fornecer soluções personalizadas que atendam às necessidades exclusivas de cada cliente.</p>
  </section>

  <section>
    <h2>Nossa Equipe</h2>
    <p>Nossa equipe é composta por profissionais altamente qualificados e apaixonados por tecnologia. Trabalhamos juntos para enfrentar desafios complexos e fornecer resultados excepcionais.</p>
  </section>

  <section>
    <h2>Contate-nos</h2>
    <p>Estamos sempre abertos a novas parcerias e oportunidades. Entre em contato conosco para discutir como podemos ajudar sua empresa a alcançar novos patamares de sucesso.</p>
  </section>
</ion-content>